@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 2;
  font-family: "Roboto";
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------STYLING---------------------------*/
.header {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f6;
  line-height: 1;
}

.bank-img {
  height: 25px;
  width: 90px;
  margin-left: 100px;
}

.menu {
  display: flex;
  padding: 6px;
  font-size: 11px;
  justify-content: space-between;
  width: 55%;
  flex-wrap: wrap;
  line-height: 1.5;
}

.menu-element:hover {
  cursor: pointer;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}

.log-in {
  margin-right: 100px;
  background-color: #ffffff;
  height: 35px;
  font-size: 11px;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
}

.log-in:hover {
  cursor: pointer;
  background-color: #833ae0;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.converter-title-wrapper {
  height: 100px;
  width: 560px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.converter-title {
  font-size: 36px;
  font-weight: 700;
}

.converters {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.converter-box {
  margin: 20px;
  width: 230px;
}

.message {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #9f9f9f;
  padding-bottom: 10px;
}

.converters-input {
  border: 0;
  outline: none;
  width: 200px;
  font-size: 36px;
  font-weight: 700;
}

.rate {
  font-size: 12px;
  color: #c6c6c6;
  margin: 5px;
}

.inputRate-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
  width: 223px;
}

.buttons-box {
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 223px;
  /* width: 236px; */
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.converters-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checked-labels {
  position: relative;
  /* left: -1px; */
  border: 1px solid #e5e5e5;
  padding: 6px 16px;
  cursor: pointer;
}

.checked-inputs {
  display: none;
}

.checked-inputs:checked + .checked-labels {
  background-color: #833ae0;
  color: white;
  border: 0;
}
