@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 2;
  font-family: "Roboto";
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* ---------------------------STYLING---------------------------*/

.container {
  margin: 0 auto;
  width: 80%;
}

.navbar__color {
  min-height: 50px;
  width: 100%;
  background-color: #f5f5f6;
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-family: "Lucida Sans", sans-serif;
  font-style: normal;
  font-weight: 630;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.06em;
}

.navbar__logo {
  width: 89px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar__ul {
  display: flex;
  width: 100px;
}

.section {
  cursor: pointer;
  color: #959ba4;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
}

.section:hover {
  color: black;
}

.signin-wrapper {
  width: 58px;
  height: 33px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
}

.navbar li {
  margin-right: 8%;
  list-style-type: none;
  margin-top: 4px;
}

.main__text {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.converter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

label {
  color: #c6c6c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 14px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  padding: 32px 42px 32px 42px;
}

.left__block {
  height: 400px;
  float: left;
}

.right__block {
  height: 400px;
  float: right;
}

.button__block {
  display: flex;
  /* width: 50%; */
}

input[type="radio"]:checked + label {
  background-color: #833ae0;
  color: rgb(252, 252, 252);
}

.input__space {
  margin-top: 50px;
  min-height: 250px;
  width: 536px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
}

input[type="number"] {
  border: none;
  height: 80px;
  font-size: 42px;
}

input[type="number"]:focus {
  border: none;
  font-size: 43px;
}
